html:root{
    font-size:1em + 1vw;
}
*, ::before, ::after{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
html
{   box-sizing: border-box;
    font-family:monospace;   
    min-width:100vh;
}
body {
   height:auto;
    overflow:hidden;
    background-color:rgb(15, 15, 15);
    width:100vw;
    animation: fade-in 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes fade-in {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
.maintitle{
    position: absolute;
    top:3%;
    left:1%;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: .5em;
    background-color: #ffffff79;
    color:black;
    padding:.5em .9em .5em .9em;
    border-style:ridge;
    border-radius: 10px;
    border-color: #2c414d;
    float:left;
}
.input_form1{
        box-shadow: inset 0px 0px 59px -38px black,0px 0px 15px -3px rgb(0, 0, 0);
        text-align: center;
        justify-content: space-between;
        position:absolute;
        left:25%;
        top:3%;
        background:linear-gradient(180deg, rgba(255, 255, 255, 0.493), rgba(255, 255, 255, .3));
        z-index:1;
        border-style:solid;
        border-radius:2%;
        border-color:rgb(194, 194, 194);
        border-width: 0.1em;;
        line-height: 35px;
        font-weight: 300;
        font-size:1.1rem;
        color:#ffffff;
        display:flex;   
        flex-direction: column;
        width:60%;
        height:85%;
        max-width: 900px;
    }
    .flte{
        background-color:#2c414d;
        color:#8accf0;
        border-Style:none;
        border-radius: 10px;
        font-family: monospace;
        padding:1.6%;
        margin: 1em;
    }
    .flte:focus-within{ 
        color:white;
        background-color:#000000;
    }
    input[type='radio']:checked:after
     {
        width: 99%;
        height:99%;
        border-radius: 15px;
        top: 0px;
        left: 0px;
        position: relative;
        background-color: #2c414d;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid white;
    }
    .select_down{
        background-color:#2c414d;
        color:#8accf0;
        border-Style:none;
        border-radius: 5px;
        font-family: monospace;
        padding:1%;
        }
    .select_down:focus-within{
            color: #8accf0;
            background-color:#2c414d ;
        }
        .gender{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-self: center;
            width:30%;
        }
    .nav_container{
            border-left: solid ;
            border-bottom: solid;
            border-color:#000000;
            border-width: 1px;
            padding:3em 1em 8em 1em;
            margin:0px 0px 0px .5%; 
            position: absolute;
            top:26%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius:10px;
            background-color:  #ffffff6e;
            width:13vw;
            height:47vh;;
                }
        .nav2{  
            font-size:1.5rem;
            color: rgb(0, 0, 0);
            text-decoration: none;
            letter-spacing: 1.9px;
        }
        .nav2:hover{
            text-shadow:  #000000 0px 1px 15px;
            color:#8acbee;
            cursor:pointer;
        }
    .navicon{
        background-color:white;
        border-radius: 50%;
        width:1em; 
    }
    .aper1{
        width:5vh;
        height:auto;
        position: absolute;
        top:65%;
        left:2%;
        z-index: 1;
    }
    .aper1:hover{
        transform: rotate(180deg);
        transition-duration:3s;
    }     
    .footer_container{
    border-radius:10px;
    margin:0px;
    padding:0px;
    width:99vw;
    height:3vh;
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    align-items: baseline;
    position:absolute;  
    bottom:0%;
    right:.60%;
        }
        .social_links_container{
            padding:0px;
            width:30vw;
            color:white;
            font-size: 1.2rem;
            letter-spacing: .2em;;
            position:absolute;
            right:3%;  
            bottom:40%;  
               }
.footer_logo{
        text-transform:uppercase;
        font-size: 1.1rem;
        letter-spacing: .2em;
        position: absolute;
        left:10%;
        bottom:37%;
        padding:5px;
        color:white;
    } 
.icon:hover{
        box-shadow:#6698b3 0px 1px 15px;
    }
  
.footer_links{
      
        text-decoration: none;
        letter-spacing:1.9px;
        color:#6698b3;}

.icon{
       width:2rem;
        height:auto;
        padding:4px;
    }
    .icon500{
        width:2.9rem;
        height:auto;
        padding:3px;
    }
    .fieldset{
        width:100%;
        height:15%;
    }
    .textarea{
        width:90%;
        height:90%;
        background-color:#2c414d;
        color:#8accf0;
        border-Style:none;
        border-radius: 10px;
        font-family: monospace;
        padding:1.1%;
    }

@media (max-width:1150px){
        :root{
            font-size:1em
        }
        
        .social_links_containter{
            font-size: 0px;
        }
@media (max-width:950px){
        :root{
            font-size:.9em}}
            
        .social_links_containter{
                font-size: 0px;
            }
@media (max-width:850px){
        :root{
            font-size:.7em}}

        .social_links_containter{
             font-size: 0px;
                }
            
@media (max-width:650px){
                :root{
                    font-size:.8em}}
              
               
                .aper1 {
                        position: absolute;
                        left: 99999999px;
                    }
                    .input_form1 {
                        width:95%;
                        height:85%;
                        overflow:auto;
                        overflow-x: hidden;
                        position: absolute;
                        top:10%;
                        left:2.5%;
                        flex-direction: column;  
                    }
                    .flname
                    {
                        flex-direction: row;
                        padding:0px;
                        margin:0px;
                    }
                    .phone{
                        margin:.3em;
                    }
                    .nav_container{
                        border: solid ;
                        border-bottom: solid;
                        border-color:black;
                        border-width: 1px;
                        margin:0px 0px 0px .5%;
                        display:flex;
                        justify-content: space-around;
                        flex-direction: row;
                        float:left;
                        position: absolute;
                        top:1%;
                        left:-0.5%;
                        width:100vw;
                        height:1em;
                        padding:2em;
                        border-radius:10px;
                        background-color: #1d2b33;
                                }     
                    .nav2{  
                        font-size:1.4rem;
                        color: whitesmoke;
                        text-decoration: none;
                        letter-spacing: 1.9px;
                        padding:0em;
                         }
             
    .nav2:hover{
                
                    text-shadow:  #6698b3 0px 1px 15px;
                    color:#8acbee;
                    cursor:pointer;
            }
             
    .footer_container  {
        position:absolute;
        bottom:-5px;
        left:-0.5%;
        width:100vw;
        height:5%;
                    }      
    .social_links_container,.foot_logo, .maintitle, .form_title{
        font-size: 0px;
                   }
    .footer_logo{
        position:absolute;
        bottom:5px;
            }
}